<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Tailspin.SpaceGame.Web.Models2" value="https://pkgs.dev.azure.com/mreisjalali0002/f3fa527c-8e62-481d-8372-3d5582e5f995/_packaging/Tailspin.SpaceGame.Web.Models2/nuget/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>